*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/app/src/main/res/raw/schedule-402316-3e2397ebb45a.json
/app/src/main/res/raw/schedule-402316-3e2397ebb45a.json
/app/src/main/res/raw/schedule_402316_3e2397ebb45a.json
